@import '~/assets/scss/library/_variable.scss';

@mixin desktop() {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin c-secHeading-center {
  display: block;
  margin-bottom: .8em;
  font-size: 3.3rem;
  line-height: 1.5;
  color: $clr_textLarge;
  font-family: Offside;
  font-weight: normal;
  text-align: left;
  @include desktop {
    font-size: 4rem;
    text-align: center;
  }
}

@mixin c-secHeading-left {
  margin-bottom: 1em;
  display: inline-block;
  font-size: 3.3rem;
  color: $clr_textLarge;
  font-family: Offside;
  font-weight: normal;
  text-align: left;
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    display: inline-block;
    width: 2em;
    height: 2em;
    background: url("~assets/img/circle_01.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: -.8em;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
  }


  @include desktop {
    font-size: 4rem;
  }
}

@mixin c-heading() {
  color: $clr_textLarge;
  font-size: 3.3rem;
  font-family: Offside;
  font-weight: normal;
  position: relative;
  padding-top: 40px;
  padding-left: 40px;
  @include desktop {
    padding-top: 0px;
    padding-left: 0px;
    font-size: 4rem;
  }
}

@mixin c-btn {
  display: inline-block;
  border-radius: 9999px;
  margin-bottom: 20px;
  padding: 10px 20px;
  min-width: 220px;
  max-width: 100%;
  text-decoration: none;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  position: relative;
  background: $clr_bgGradation;
  opacity: 1;
  transition: all .3s ease;

  &:hover {
    opacity: .5;
    transition: all .3s ease;
  }

  @include desktop {
    min-width: 280px;
    font-size: 2rem;
    letter-spacing: .1em;
  }
}

@mixin c-btn-pageMove-external {
  &::after{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 700; 
    content: "\f35d";
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    color: #fff;
    position: absolute;
    right: 5%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

@mixin c-btn-pageMove-internal {
  i {
    position: absolute;
    right: 5%;
    top:32%;
  }
  &::after{
    content: "\f054";
    display: inline-block;
    font-family: Font Awesome\ 5 Free;
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    color: #fff;
    position: absolute;
    right: 5%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
