@import '~/assets/scss/library/_variable.scss';

@mixin desktop() {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin c-heading() {
  color: $clr_baseText2;
  font-size: 3.3rem;
  font-family: Offside;
  font-weight: normal;
  position: relative;
  padding-top: 40px;
  padding-left: 40px;
  @include desktop {
    padding-top: 0px;
    padding-left: 0px;
    font-size: 4.7rem;
  }
}

@mixin c-footerBtn() {
  display: inline-block;
  border-radius: 100px;
  font-weight: bold;
  color: white;
  border: solid 1px white;
  padding: 10px 37px;
  margin: 10px;
  text-decoration: none;
  min-width: 280px;
  @include desktop {
    min-width: 265px;
    font-weight: normal;
  }
  & i {
    color: white;
    margin-right: 15px;
  }
}

@mixin c-btn() {
  display: inline-block;
  border-radius: 9999px;
  padding: 10px 8px;
  min-width: 220px;
  margin-left: 18px;
  margin-bottom: 50px;
  text-decoration: none;
  text-align: center;
  color: white;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  background: $clr_bgGradation;
  transition: all 0.65s ease;
  @include desktop {
    min-width: 265px;
    margin-left: 0px;
    font-weight: normal;
  }
}
