$clr_textDefault: #4b4b4b;//デフォルトテキスト
$clr_textLarge: #636363;//大きめのテキスト

$clr_readBordBg: #fafafa;//テキスト要素の背景色

$clr_navy: #444a64; //footerで使用

$clr_bgGradation: linear-gradient(135deg, #2f6ee5 0%, #1197bf 100%);
$clr_sectionbox: #fbfbfb;

$padding_readBordPC: 80px 120px;
$padding_readBordSP: 60px 30px;;