$clr_textDefault: #4b4b4b;//デフォルトテキスト
$clr_textLarge: #636363;//大きめのテキスト

$clr_textBordBg: #fafafa;//テキスト要素の背景色

$clr_bgGradation: linear-gradient(135deg, #2f6ee5 0%, #1197bf 100%);
$clr_sectionbox: #fbfbfb;
