@import '~/assets/scss/_library.scss';

:root {
  font-size: 62.5%; /*base10px*/
  font-family: 'Noto Sans CJK JP', YuGothic, 'Yu Gothic', 'メイリオ',
    'Hiragino Sans', 'ヒラギノ角ゴシック', Meiryo, 'ＭＳ Ｐゴシック',
    'MS PGothic', sans-serif;
  color: $clr_textDefault;
  background: white;
}

html {
  margin: 0 auto;
  background: white;
}

body,
html,
main {
  height: 100%;
}

* {
  color: inherit;
  font-size: 1.6rem;
  line-height: 1.8;
  @include desktop {
    font-size: 1.8rem;
    line-height: 2;
  }
}

::selection {
  background: rgba(47, 202, 250, 0.2);
}

img {
  vertical-align: top;
}

.c-container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 980px;
}
